body {
  font-size: 18px !important;
}

.navbar {
  background: #fff !important;
  box-shadow: 0 0 20px 0px rgb(0 0 0 / 15%);
}

.logo a img {
  max-width: 220px;
}

.wr-link-top li a {
  display:block
}
.dropdown-menu > li > a:hover, {
    text-decoration: none;
    color: #eee;
    background-color: rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px 0px rgb(0 0 0 / 10%);
    box-shadow: 0 2px 2px 0px rgb(0 0 0 / 10%);
}
